.list {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.item {
    width: 100%;
        display: flex;
        flex-basis: calc(100% / 5 - 20px);
        margin: 10px;
        transition: all 250ms ease-in;
}

.item:hover,
.item:focus {
    transform: scale(1.1);
}

.link {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img {
display: block;
max-width: 100%;
height: auto;
border-radius: 8px;
box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.title {
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px #32a895;
}

.text {
    color: red;
    text-shadow: 1px 1px 2px #32a895;
    font-weight: bold;
}